:root {
    --font-sans-serif: 'Roboto Condensed', sans-serif;
    --black: #000;
    --white: #fff;
    --green: #59b997;
    --light-gray: #eeee;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    line-height: 21px;
    font-size: 16px;
    color: var(--dark-grey);
  }

h1, h2 {
    font-family: var(--font-sans-serif);
    padding: .5rem;
    font-family: 'Roboto';
}

h4 {
   font-family: var(--font-sans-serif);
   font-size: 20px;
   line-height: 24px;
   color: var(--dark-grey);
   font-weight: normal;
   font-family: 'Roboto';
}

img {
    max-width: 100%;
    display: block;
  }

a {
  text-decoration: none;
}

.nav-list {
  list-style-type: none;
  padding: 1rem;
  margin: 0;
  display: flex;
  float: right;
}

.navbar-brand {
 vertical-align: middle;
 display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
    float: right;
}

.component img {
    max-width: initial;
  }

.component__img {
    border: 1px solid #eeee;
    overflow-x: auto;
  }

.component__code {
    margin: 0 auto;
    padding: 1.5rem;
  }

 .button {
    font-family: var(--font-sans-serif);
    color: var(--white);
    background-color: var(--green);
    display: inline-block;
    border: 1px solid var(--light-gray);
    padding: .6rem 1.7rem;
    font-size: 1rem;
  }

.button--transparent {
    font-family: var(--font-sans-serif);
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    padding: .6rem 1.75rem;
    font-size: .8rem;
    background-color: transparent;
    display: block;
  }

table, th, td {
    border: 1px solid var(--light-gray);
    padding: .7em 1em;
    border-width: 0 1px 1px 0;
}

table {
    border-width: 1px 0 0 1px;
    max-width: 100%;
    margin: 0 0 1.5rem;
    border-collapse: separate;
}

th {
    padding: .7em 1em;
    border-width: 0 1px 1px 0;
    text-align: center;
    font-weight: 600;
  }

td {
    padding: .7em 1em;
    text-align: left;
    border-width: 0 1px 1px 0;
    word-wrap: break-word;
    max-width: 600px;
  }
