:root {
    --font-sans-serif: 'Roboto Condensed', sans-serif;
    --black: #000;
    --white: #fff;
    --green: #59b997;
    --light-gray: #eeee;
    --dark-green: #0B4827;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
    line-height: 21px;
    font-size: 16px;
    color: var(--dark-grey);
  }

h1, h2 {
    font-family: var(--font-sans-serif);
    font-size: 50px;
    padding: .5rem;
    font-family: 'Roboto';
    font-weight: normal;
}

h3 {
    font-family: var(--font-sans-serif);
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: normal;
}

h4 {
   font-family: var(--font-sans-serif);
   font-size: 20px;
   line-height: 24px;
   color: var(--dark-grey);
   font-weight: normal;
   font-family: 'Roboto';
}

img {
    max-width: 100%;
    display: block;
  }

a {
  text-decoration: none;
  color: var(--dark-grey);
}

.header {
    text-align: right;
    padding: 1rem;
}

.banner--logo {
    display: flex;
    flex: row;
    float: left;
    padding: 1rem;
}

.banner--buttons {
    display: inline-block;
    justify-content: flex-end;
    gap: .7rem;
    text-align: right;
    margin: 0;
}

.nav-list {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  justify-content: flex-end;
  flex-flow: row wrap;
  list-style-type: none;
}

.navbar-brand {
 display: flex;
 align-content: space-between;
 flex-grow: 1;
}

.nav-list ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
}

ul li a {
  display: block;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li {
    float: right;
}

.container-one {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  white-space: normal;
}

.container-two {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem;
}

.page-section--hero {
    text-align: left;
    margin: 0;
    color: var(--dark-grey)
}

.page-section__heading {
    text-align: left;
    text-transform: none;
}

.page-section__paragraph {
    text-align: left;
}

.didyouknow {
   position: absolute;
   top: 50%;
   left: 30%;
   text-align: left;
   transform: translate(-50%, -50%);
   font-family: var(--font-sans-serif);
   font-size: 32px;
   line-height: 32px;
}

.didyouknow_sub {
    position: absolute;
    top: 55%;
    left: 22%;
    text-align: left;
    transform: (-50%, -50%);
    font-family: var(--font-sans-serif);
    font-size: 22px;
    line-height: 31px
}

.didyouknow_sub p {
    overflow-wrap: break-word;
    width: 50%;
}

.pdf-nav__list {
    font-family: var(--font-sans-serif);
    font-size: 16px;
    line-height: 21px;
    padding: 2rem;
    margin: 0;
    color: var(--dark-grey);
    display: flex;
    align-items: center;
    justify-content: left;
}

.pdf-nav__list a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.pdf-nav__list li::before {
  background-image: url('../components/img/pdf.jpg');
  background-repeat: no-repeat;
  background-position: left center;
  margin-right: 0.2em;
  display: inline-block;
  width: 50px;
  content: "";
  height: 50px;
  background-size: contain;
}

 .button {
    font-family: var(--font-sans-serif);
    color: var(--white);
    background-color: var(--green);
    display: inline-block;
    border: 1px solid var(--light-gray);
    padding: .6rem 1.7rem;
    font-size: 1rem;
  }

.header--donate {
    font-family: var(--font-sans-serif);
    color: var(--white);
    background-color: var(--green);
    display: inline-block;
    border: 1px solid var(--light-gray);
    padding: .6rem 1.7rem;
    font-size: 1rem;
  }

.header--magnifying-glass {
  color: var(--black);
  padding: 5px;
  background: none;
  border: none;
  display: inline-block;
}

.button--transparent {
    font-family: var(--font-sans-serif);
    color: var(--light-gray);
    border: 1px solid var(--light-gray);
    padding: .6rem 1.75rem;
    font-size: .8rem;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button--subscribe {
    font-family: 'Helvetica';
    color: var(--white);
    border: 1px solid var(--black);
    background-color: var(--dark-green);
    padding: .8rem 1.6rem;
    font-size: 1rem;
    display: block;
  }

.component__code.footer {
    background-color: var(--light-gray);
    padding: 2rem 20rem;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.footer-top {
    display: flex;
    align-items: flex-start;
    gap: 5rem;
    margin-bottom: 2rem;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-column ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

.flat-list {
  display: flex;
  list-style: none;
}

.flat-list > * {
  padding-right: 1rem;
  flex: 1;
}

.flat-list > :last-child {
  padding-right: 0;
}

.social-media {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  color: var(--green);
}

.social-media a {
  display: inline-block;
  padding: 0.5rem;
}

.footer-2 {
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

.container-donate {
    background-image: url('../components/img/vulture_donate.png');
    color: var(--white);
    display: flex;
    height: 370px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: "";
}

.container-first {
    background-image: url("../components/img/vulture_firstimage.png.jpg");
    background-position: center;
    padding: 2rem 40rem;
    height: 600px;
    text-align: center;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    content: ""
}

.first-list {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-flow: row wrap;
  list-style-type: none;
}

.component__code {
    margin: 0 auto;
    padding: 1.5rem;
  }

  table, th, td {
    border: 1px solid var(--light-gray);
    padding: .7em 1em;
    border-width: 0 1px 1px 0;
}

table {
    border-width: 1px 0 0 1px;
    max-width: 100%;
    margin: 0 0 1.5rem;
    border-collapse: separate;
}

th {
    padding: .7em 1em;
    border-width: 0 1px 1px 0;
    text-align: center;
    font-weight: 600;
  }

td {
    padding: .7em 1em;
    text-align: left;
    border-width: 0 1px 1px 0;
    word-wrap: break-word;
    max-width: 600px;
  }

  .container-subscribe {
    background-color: var(--green);
    color: var(--white);
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input[type="email"] {
    background-color: transparent;
    border: 1px solid var(--white);
    margin-top: 20px;
    padding: 12px 15px 12px 15px;
}

input[type="firstname"] {
    background-color: transparent;
    border: 1px solid var(--white);
    margin-top: 20px;
    padding: 12px 15px 12px 15px;
}

input[type="lastname"] {
    background-color: transparent;
    border: 1px solid var(--white);
    margin-top: 20px;
    padding: 12px 15px 12px 15px;
}

input[type="submit"] {
    padding: 12px 25px 12px 25px;
    margin-top: 20px;
    background-color: var(--dark-green);
    color: white;
    border: 1px solid var(--black);
    margin-left: 15px;
    margin-bottom: 25px;
}

.address-list li::before {
        content: "\f00c"; 
        font-family: "Font Awesome 5 Free";
        font-weight: 900; 
        position: absolute;
        left: 0;
        top: 0;
        color: var(--green);
    }